---
stoplight-id: 42p0ws2xcgjm4
---

# Measurement, Reporting & Verification

## dMRV Methodology

The Emerging platform leverages the Methodology for Metered & Measured Energy Cooking Devices (MMECD), approved by Gold Standard. This methodology applies to modern energy cooking appliances that directly measure real-time energy or fuel consumption. 

The platform is configured using Protocols, to implement the specific requirements for each Mitidation Activity or Project, based on the approved Mitigation Activity Design Document (MADD) or Project Development Document (PDD).
